@import"./utils/variables";
@import"./base/base";
@import"./utils/visually-hidden.scss";
@import"./componets/header.scss";
@import"./componets/site__nav";
@import"./componets/hero.scss";
@import"./componets/card-set.scss";
@import"./componets/modal";
@import"./componets/backdrop.scss";
@import"./componets/values.scss";
@import"./componets/devaise";
@import"./componets/advantages";
@import"./componets/team";
@import"./componets/socialnets";
@import"./componets/client";
@import"./componets/footer";
@import"./componets/footer-socialnets";
@import"./componets/footer-form";
@import"./componets/portfolio-carts";




