:root {
    --bg-header-color: #fff;
    --text-section-footer-color: #fff;
    --bg-color: #f5f5f5;
    --bg-screan-footer-color: #2f303a;
    --focus-color: #2196f3;
    --accent-color: #2196f3;
    --o-nas-color: #757575;
    --title-text-color: #212121;
    --comands-color: #f5f4fa;
    --logo-studia-color: #0000;
    --header-studio-color: #000000;
     --border-cards-color: #EEEEEE;
     --icon-currentColor: #AFB1B8;
     --icon-accent-partners-color:#2196F3;
      --icon-social-accent-color:#fff;
    }
   body {
    
    font-family: 'Roboto' , sans-serif ;
    font-size: 14px;
    background-color: var(--bg-header-color);
    fill: var(--icon-currentColor)
    }