.advantages{
  padding-bottom: 94px;


&__wrap {
    position: relative;
  margin-right: 30px;
  
  }
  
  &__text{
    position: absolute;
    padding: 27px;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-section-footer-color);
    background: rgba(47, 48, 58, 0.8);
  }
  &__item{
    display: flex;
  }
}