.footer {
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--bg-screan-footer-color);
  }

 
  .footer-ul .footer-addres__item + .footer-addres__item {
    margin-top: 9px;
  }
  .footer-adres {
    margin-top: 20px;
  }
  .footer-addres__link {
     font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--text-section-footer-color);
  }
  .footer-addres__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__container {
    display: flex;
    align-items: baseline;
    gap: 70px;
   }
   .footer-wrap {
    flex-shrink: 0;
   }
   .footer-wrap .footer-socialnets {
    display: flex;
    justify-content: center;
    position: relative;
   }
  .aktive {
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .aktive:hover,
  .aktive:focus{
  color: var(--accent-color);
  }
  .logo--inverse {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
  
  }
  .footer__title {
    font-weight: 700;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--text-section-footer-color);
  }