
 .footer-form {
    display: flex;
    height: 50px;
 
  
 
  
 
 
  & .modal-form__input {
 
    outline: none;
    width: 358px;
    height: 100%;
    margin: 0;
    padding: 15px;
 
    color: var(--text-section-footer-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
  & .modal-form__input:focus-within,
  & .modal-form__input:hover {
    border-color: var(--focus-color);
  }
 
 
  &__button {
    position: relative;
    padding: 10px 62px 10px 28px;
    width: 200px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--focus-color);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
 
    color: var(--bg-header-color);
    cursor: pointer;
  }
 
  &__icon {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    fill: currentColor;
  }

   }
