.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}
.header__nav {
  display: none;
  display: flex;
  align-items: center;
}

.header__container {
  // padding-bottom: 29px;
  display: flex;
  align-items: center;
}

.header-contakt {
  display: none;
   @include mq(tablet) {

    display: block;
    margin-left: auto;
  }
  @include mq(desktop) {
   display: flex;
   margin-left: 200px;
  }
}

.header-contakt .site-nav__item + .site-nav__item {
  @include mq(desktop) {
 margin-left: 50px;
 }
  
}

.button {
  cursor: pointer;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: calc(28 / 24);
  // font-size: 26px;
  // line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__text {
  color: var(--header-studio-color);
}
.logo__textt {
  color: var(--bg-color);
}

.curent {
  color: var(--focus-color);
}
.curent::after {
  content: "";
  display: block;
  opacity: 1;
  height: 4px;
  position: relative;
  border-radius: 2px;
  top: 31px;
  background-color: var(--accent-color);
}
/* иконки тел. и меил */
.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--o-nas-color);
}
.header-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  color: var(--o-nas-color);
}
